<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">

    <button class="btn btn-lg" style="background-color: white;" id="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
        <div class="navbar-nav ml-auto">

            <img src="https://i.ya-webdesign.com/images/default-avatar-png-18.png" alt="" class="rounded-circle" width="40px">
            <a href="/" class="nav-item nav-link navBarItem">Hasan</a>
            <a href="/" class="nav-item nav-link navBarItem">Manage</a>
            <a href="/" class="nav-item nav-link navBarItem">Help</a>
            <a href="/" class="nav-item nav-link navBarItem">Logout</a>

        </div>

    </div>

</nav>